{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}
    <h1>Habitats</h1>
    <div class="row">
        {% for habitat in habitats %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ asset('uploads/' ~ habitat.imageUrl) }}" alt="{{ habitat.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ habitat.name }}</h5>
                        <p>{{ habitat.description }}</p>
                        <h6>Animals:</h6>
                        <ul>
                            {% for animal in habitat.animals %}
                                <li>{{ animal.name }} ({{ animal.species }})</li>
                            {% endfor %}
                        </ul>
                        <a href="{{ path('habitat_show', {'id': habitat.id}) }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
