{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <section class="presentation">
            <img src="{{ asset('images/zoo_arcada_main.jpg') }}" alt="Zoo Arcadia">
            <div class="presentation-text">
                <h1>Bienvenue au Zoo Arcadia</h1>
                <p>Découvrez la beauté de la nature et la diversité de la faune dans notre zoo. Profitez d'une expérience inoubliable avec nos habitats variés et nos services exceptionnels.</p>
            </div>
        </section>
        
        <section class="sections">
            <div class="section">
                <h2>Nos Habitats</h2>
                <ul>
                    {% for habitat in habitats %}
                        <li>{{ habitat.name }}: {{ habitat.description }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section">
                <h2>Nos Services</h2>
                <ul>
                    {% for service in services %}
                        <li>{{ service.name }}: {{ service.description }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section">
                <h2>Animaux</h2>
                <ul>
                    {% for habitat in habitats %}
                        {% for animal in habitat.animals %}
                            <li>{{ animal.name }} ({{ animal.species }}) - Habitat: {{ habitat.name }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="section">
                <h2>Ce que nos visiteurs disent</h2>
                <ul>
                    {% for avis in avis %}
                        <li>{{ avis.username }}: {{ avis.content }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
