{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <section class="presentation">
            <div class="presentation-text">
                <h1>Bienvenue au Zoo Arcadia</h1>
                <p>Découvrez la beauté de la nature et la diversité de la faune dans notre zoo. Profitez d'une expérience inoubliable avec nos habitats variés et nos services exceptionnels.</p>
                <button type="button" class="btn btn-outline-secondary " onclick="window.location.href='{{ path('habitat_index') }}'">Découvrez les habitats</button>
            </div>
            <div class="presentation-image">
                <img src="{{ asset('images/Parc/full-shot-woman-feeding-goats.jpg') }}" alt="Zoo Arcadia">
            </div>
        </section>
        
        <section class="services">
            <h2>Nos Services</h2>
            <div class="service-list">
                {% for service in services %}
                    <div class="service">
                        <img src="{{ asset(service.imageUrl) }}" alt="{{ service.name }}">
                        <h3>{{ service.name }}</h3>
                        <p>{{ service.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="animals">
            <h2>Nos Animaux</h2>
            <div class="animal-carousel">
                {% for animal in animaux %}
                    <div class="animal">
                        <img src="{{ asset(animal.imageUrl) }}" alt="{{ animal.name }}">
                        <p>{{ animal.name }} ({{ animal.species }})</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="testimonials">
            <h2>Ce que nos visiteurs disent</h2>
            <div class="testimonial-list">
                {% for avis in avis %}
                    <div class="testimonial">
                        <p>{{ avis.content }}</p>
                        <p class="username">{{ avis.username }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="leave-review">
            <h2>Laisser un avis</h2>
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.content) }}
                <button class="btn btn-success">Envoyer</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
