{% extends 'employee/base.html.twig' %}

{% block title %}Nouvel État Animal{% endblock %}

{% block body %}
    <h1>Créer un nouvel état pour un animal</h1>

    {{ form_start(form) }}
        {{ form_row(form.etat) }}
        {{ form_row(form.nourriture) }}
        {{ form_row(form.grammage) }}
        {{ form_row(form.datePassage) }}
        {{ form_row(form.detailEtat) }}
        {{ form_row(form.animal) }}
        <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
