{% extends 'employee/base.html.twig' %}

{% block title %}État de l'Animal{% endblock %}

{% block body %}
    <h1>État de l'Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ etat_animal.id }}</td>
            </tr>
            <tr>
                <th>Animal</th>
                <td>{{ etat_animal.animal.name }}</td>
            </tr>
            <tr>
                <th>État</th>
                <td>{{ etat_animal.etat }}</td>
            </tr>
            <tr>
                <th>Nourriture</th>
                <td>{{ etat_animal.nourriture }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ etat_animal.grammage }}</td>
            </tr>
            <tr>
                <th>Date de Passage</th>
                <td>{{ etat_animal.datePassage|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Détail de l'État</th>
                <td>{{ etat_animal.detailEtat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etat_animal_index') }}" class="btn btn-primary">Retour à la liste</a>
    <a href="{{ path('etat_animal_edit', {'id': etat_animal.id}) }}" class="btn btn-warning">Modifier</a>
    <form method="post" action="{{ path('etat_animal_delete', {'id': etat_animal.id}) }}" style="display:inline;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat_animal.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
{% endblock %}
