<ul>
    <li><a href="{{ path('home') }}">Accueil</a></li>
    <li><a href="{{ path('service_index') }}">Services</a></li>
    <li><a href="{{ path('habitat_index') }}">Habitats</a></li>
    <li><a href="{{ path('contact_index') }}">Contact</a></li>
     <li><a href="{{ path('opening_hours_index') }}">Horaires</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('admin_home') }}">Dashboard</a></li>
   
    {% elseif is_granted('ROLE_EMPLOYEE') %}
        <li><a href="{{ path('employee_home') }}">Dashboard </a></li>
    
    {% elseif is_granted('ROLE_VET') %}
        <li><a href="{{ path('vet_home') }}">Dashboard </a></li>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    {% endif %}
</ul>
