{% extends 'base.html.twig' %}

{% block title %}Nourriture{% endblock %}

{% block body %}
    <h1>Nourriture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nourriture.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ nourriture.type }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ nourriture.quantity }}</td>
            </tr>
            <tr>
                <th>DateGiven</th>
                <td>{{ nourriture.dateGiven ? nourriture.dateGiven|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nourriture_index') }}">back to list</a>

    <a href="{{ path('app_nourriture_edit', {'id': nourriture.id}) }}">edit</a>

    {{ include('nourriture/_delete_form.html.twig') }}
{% endblock %}
