{% extends 'employee/base.html.twig' %}

{% block title %}Gestion de la Nourriture {% endblock %}

{% block body %}
    <h1>Gestion de la Nourriture</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Animal</th>
                <th>Type</th>
                <th>Quantité</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for nourriture in nourritures %}
                <tr>
                    <td>{{ nourriture.id }}</td>
                    <td>{{ nourriture.animal.name }}</td>
                    <td>{{ nourriture.type }}</td>
                    <td>{{ nourriture.quantity }}</td>
                    <td>{{ nourriture.dateGiven ? nourriture.dateGiven|date('Y-m-d H:i') : 'N/A' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
