{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% if is_granted('ROLE_ADMIN') %}{{ path('admin_home') }}{% elseif is_granted('ROLE_EMPLOYEE') %}{{ path('employee_home') }}{% elseif is_granted('ROLE_VET') %}{{ path('vet_home') }}{% else %}{{ path('home') }}{% endif %}">
                <img src="{{ asset('images/zoo_arcada_logo.jpg') }}" alt="Zoo Arcadia Logo" class="logo">
            </a>
            {% include 'includes/menu.html.twig' %}
        </nav>
    </header>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Zoo Arcadia. Tous droits réservés.</p>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>
